<launch>
  <arg name="port" default="/dev/roboteq" />
  <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver" output="screen">
    <param name="port" value="$(arg port)" />
    <param name="value" value="115200" />
    <rosparam>
             channels: ['left', 'right']
    </rosparam>
  </node>
</launch>
