<launch>
    <!--<param name = "debug" value = "true" type = "bool" />-->
    <!-- param name = "PCL2TopicName" value = "/duo3d_camera/depth/points" type = "str" / -->

    <!--<arg name="roverConfig" default="$(find local_planner)/cfg/local_planner_rover_cfg.yaml"/>-->
    <!--<rosparam command="load" file="$(arg roverConfig)"/>-->

    <!--<include file="$(find simulation)/launch/simulation.launch" />-->
    <!--<include file="$(find simulation)/launch/localization.launch" />-->
    <!--<include file="$(find occupancy_grid)/launch/occupancy_grid_sim.launch" />-->


    <!--<node pkg="local_planner" type="local_planner" name="local_planner" output="screen">-->
    <!--</node>-->
    <include file="$(find local_planner)/launch/sim_setup.launch" />
    <include file="$(find local_planner)/launch/local_planner_stand_alone.launch" />


</launch>