<?xml version="1.0"?>

<model>
  <name>Com Base Station</name>
  <version>1.0</version>
  <sdf>com_base_station.urdf</sdf>

  <author>
    <name>Tibi Andronescu</name>
    <email>taandron@uwaterloo.ca</email>
  </author>

  <description>
    This is a model represenating the communication base station used in competiton to
    transmit data to the rover in the field.
  </description>
</model>