<?xml version="1.0"?>
<launch>
  <arg name="respawn" default ="false" />	
  
  <include file="$(find localization)/launch/imu.launch">
    <arg name="respawn" value="$(arg respawn)" />
  </include>

  <include file="$(find localization)/launch/rover_gps.launch">
    <arg name="respawn" value="$(arg respawn)" />
  </include>

  <node pkg="robot_localization" type="ekf_localization_node" name="rover_odom_localization" respawn="$(arg respawn)">
    <rosparam command="load" file="$(find simulation)/config/rover_odom_localization.yaml" />
    <remap from="/odometry/filtered" to="/odometry/rover_odom" />  
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="rover_gps_odom_localization" respawn="$(arg respawn)">
    <rosparam command="load" file="$(find simulation)/config/rover_gps_odom_localization.yaml" />
    <remap from="/odometry/filtered" to="/odometry/rover_gps_odom" />
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="rover_navsat_transform" output="screen" respawn="$(arg respawn)">
    <param name="magnetic_declination_radians" value="0"/>
    <param name="yaw_offset" value="1.5707963"/>
    <param name="broadcast_utm_transform" value="true"/>
    <param name="broadcast_utm_as_parent_frame" value="true"/>
    <param name="publish_filtered_gps" value="true" />
    <param name="broadcast_utm_as_parent_frame" value="true" />

    <param name="frequency" value="5" />
    <param name="wait_for_datum" value="true" />
    <!--rosparam param="datum">[49.9, 8.9, 0.0, map, base_link]</rosparam-->

    <!-- input mapping -->
    <!--remap from="/imu/data" to=""/-->
    <remap from="/gps/fix" to="/rover/fix"/>
    <remap from="/odometry/filtered" to="/odometry/rover_gps_odom"/> <!-- it is looking for /odometry/filtered, we want /odometry/rover_gps_odom-->
    
    <!-- output mapping -->
    <remap from="/odometry/gps" to="/odometry/rover_gps"/>

    <!--remap from="odom" to="map" /-->

  </node>

</launch>

