<launch>
  <arg name="respawn" default ="false" />
  <node ns="gps" name="nmea_navsat_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver" respawn="$(arg respawn)">
    <param name="baud" value="4800"/>
    <param name="port" value="/dev/uwrt-gps"/> 
	</node>
<node  name="gps_converter_node" pkg="localization" type="gps_converter_node" respawn="$(arg respawn)"/>
</launch>
